* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

.header {
    display: flex;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    justify-content: space-between;
    align-items: center;
}


.header--logo {
    margin-left: 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.logo--img {
    height: 40px;
}

.logo--text {
    padding-left: 15px;
    color: white;
    margin-right: auto;
}

main {
    padding: 30px;
}

.header--name {
    font-size: 0.75rem;
    font-weight: 500;
    color: white;
    margin-right: 15px;
}

.form {
    display: grid;
    gap: 20px;
    grid-template: 40px 40px/ 1fr 1fr;
}

.form--input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent:15px;
}


.form--button {
    grid-column: 1/-1;
    font-family: "Karla", sans-serif;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.meme--img{
    max-width: 100%;
}